# Ignore le dossier de compilation
/bin/

# Ignorer les fichiers compilés Java
*.class

# Ignorer les fichiers générés par VS Code,IntelIj
.vscode/
.iml

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers temporaires
*.tmp
*.swp
*.bak

# Ignorer les dépendances locales (si non versionnées)
lib/

